.layout-main {
  background: #232234;
}
.layout-body {
  display: flex;
  background-color: #1f1c2d;
  /* padding: 1rem; */
  /* justify-content: center; */
  padding: 20px 10px;
}
.layout-child {
  margin-left: 8px;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.layout-child::-webkit-scrollbar {
  width: 0px;
}

/* new added 09-05-23 */
@media screen and (min-width: 991px) and (max-width: 1400px) {
  .layout-child {
    margin-left: -2rem;
  }
}
