.teams-page-main-con {
  display: flex;

  /* min-width: 100vw; */
  /* padding: 10px; */
}
.teams-left-con {
  width: 74vw;
  display: flex;
  flex-direction: column;
  /* width: 50%; */

  background-color: #282739;

  margin-right: 8px;
  padding: 10px;
}
.teams-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.teams-banner .banner-img {
  border-radius: 15px;
  width: 100% !important;
}
.teams-banner .banner-logo {
  position: absolute;
  left: -112px;
  bottom: 34px;
  width: 100px;
  height: 100px;
  border: 1.5px solid #ea9528;
  background-color: #1f1c2d;
}
.teams-name-con {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem;
  /* position: absolute; */
  /* z-index: -1; */
}
.team-hold-card {
  background-color: #232234;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(241, 238, 249, 0.05);
  width: 175px;
  height: 72px;
}
.teams-hold-details {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.teams-hold-details h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #9492a0;
  opacity: 0.5;
}
.teams-hold-details p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.312463px;
  color: #cccccc;
}
.team-name-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.team-name-details h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.team-name-details p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.7);
}
.teams-holdings-con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0px;
  justify-content: center;
}
.team-holding-value {
  display: flex;
  flex-direction: column;
  background-color: #232234;
  /* margin-right: 1rem; */
  border-radius: 5px;
  border: 2px solid rgba(241, 238, 249, 0.05);
  padding: 10px;
  width: 162px;
  height: 72px;
}
.team-holding-value h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #9492a0;
  opacity: 0.5;
}
.team-holding-value p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.312463px;
  color: #cccccc;
}
.hodlingval-1 {
  color: #0bbb70 !important;
}

.teams-right-con {
  display: flex;
  flex-direction: column;
}
.teams-right-teams {
  background-color: #232234;
  border-radius: 8px;
  padding: 15px;
  width: 310px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.bastman-main-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5a5967;
  padding: 20px 0px 20px 0px;
}
.bastman-img-con {
  display: flex;
  align-items: center;
}
.bastman-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.bastman-details h3 {
  font-family: "Poppins";
  font-size: 14px;
  color: white;
}

.bastman-details p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.312463px;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 0px;
}
.bastman-best {
  display: flex;
  flex-direction: column;
}
.bastman-best h3 {
  font-family: "Poppins";
  font-size: 14px;
  color: white;
}

.bastman-best p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: end;
  letter-spacing: -0.312463px;
  color: #cccccc;
}
.matches-hist-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #5a5967;
}
.matches-hist-card h3 {
  color: white;
  font-family: "Poppins";
  font-size: 12px;
  /* line-height: 20px; */
}
.matches-hist-card h2 {
  color: white;
  font-family: "Poppins";
  font-size: 16px;
}

.hist-img-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin-left: -8%;
  margin-top: -5%;
}
.match-sub-title {
  color: #6e6e6e !important;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: -0.3rem;
}

.match-lost-txt {
  color: #ec3e47;
}
.team-matches-hist {
  background-color: #232234;
  padding: 14px;
  /* margin-top: 1rem; */
  width: 346px;
  height: 520px;
  overflow: auto;
  border-radius: 9px;
}
.team-matches-hist::-webkit-scrollbar {
  width: 7px;
}
.team-matches-hist::-webkit-scrollbar-thumb {
  background-color: #393848;
  border-radius: 6px;
}

.team-matches-hist:nth-child(2) {
  margin-top: 10px;
}

.team-matches-hist h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}
.team-matches-hist h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.312463px;
  color: #ffffff;
}

.team-matches-hist-1 {
  background-color: #232234;
  padding: 14px;
  width: 340px;
  border-radius: 9px;
  margin-top: 7%;
}
.team-matches-hist-1 h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}
.team-matches-hist-1 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.312463px;
  color: #ffffff;
}
.team-matches-hist-1 h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.312463px;
  color: #ec3e47;
}
.match-lost-txt-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.312463px;
  color: #fff;
}
.single-team-hist {
  background-color: #282739;
  border: 1px solid #282739;
  border-radius: 7px;
  padding: 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.single-team-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-team-titles h3 {
  font-family: "Poppins";
  font-size: 12px;
  color: #6e6e6e;
  /* margin: 0.5rem; */
  width: 14%;
  text-align: center;
}
.single-team-score {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:10px;
}
.single-team-score p {
  font-family: "Poppins";
  font-size: 16px;
  color: white;
  /* margin-right: 0.89rem; */
  margin:0px;
  width: 14%;
  text-align: center;
}

.teams-buysell div {
  width: 100%;
  margin: auto;
}

/* new added 02-05-23 */
.match-t-border {
  opacity: 0.25;
  border: 0.5px solid #ffffff;
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
}
.match-t tr th {
  padding-top: 10px;
  padding-left: 3px;
}
.match {
  padding-top: 15px;
  height: 500px;
}

.match-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.75;
  text-align: center;
  padding-left: 20%;
  margin: 0px;
}
.d-time {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.75;
}
.verse {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.926px;
  line-height: 27px;
  color: #c5c5c5;
  padding-left: 10px;
  text-align: center;
}
.delhi-c {
  text-align: end;
  margin: 10px 0px 0px 10px;
}
.tocken-title {
  display: flex;
  gap: 30px;
}
.tocken-title h3 {
  cursor: pointer;
}
.tocken-pl {
  /* height: 600px; */
  background: #232234;
  border-radius: 7px;
  position: relative;
}
.tocken-bar-head {
  margin-top: 4%;
  /* margin-left: 4%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* display: flex; */
}
.tocken-bar-head h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px !important;
  line-height: 10px;
  letter-spacing: 0.416826px;
  text-transform: capitalize;
  color: #9492a0;
  opacity: 0.5;
}
.t-history {
  height: 550px;
}
.token-week {
  margin-top: -20px;
  float: right;
  display: flex;
  gap: 5px;
}
.token-week p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 10px;
  text-align: right;
  letter-spacing: 0.416826px;
  text-transform: capitalize;
  color: #ea9528;
}
/* new added  03-05-23 */
.bar-main {
  margin-top: 4%;
}
.bar-graph {
  height: auto;
  width: 90%;
  margin: auto;
  /* border: 1px solid #fff; */
}
.team-hist-active {
  color: white;
}
.team-hist-not-active {
  color: white;
  opacity: 0.25;
}

/* new added  08-05-23 */
@media screen and (min-width: 991px) and (max-width: 1400px) {
  .transaction-main {
    width: 100%;
  }
  .tocken-pl {
    width: 98% !important;
  }
  .history-titles {
    width: 97% !important;
  }
  .teams-left-con {
    width: 62%;
  }
  .teams-banner .banner-img {
    width: 90%;
    margin-top: 5%;
  }
  .side-bar-main {
    margin-left: 1%;
  }
  .tokens:nth-child(1),
  .tokens2 {
    width: 85%;
  }
  .sidebar-buysell {
    width: auto;
  }
  .team-name-details {
    margin-left: 5rem;
  }
  /* .side-live-batsmens1 h1{
    font-size: 10px;
  }*/
}

/* new added  09-05-23 */
@media screen and (min-width: 1020px) and (max-width: 1080px) {
  .teams-left-con {
    width: 53%;
  }
  .side-live-batsmens1 h2 {
    font-size: 10px;
  }
  .side-live-batsmens1 h2 {
    font-weight: 600;
    font-size: 10px;
    line-height: 17px;
    margin-left: -9px;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1060px) {
  .teams-right-teams {
    width: 300px;
  }
  .team-matches-hist {
    width: 320px;
  }
  .team-matches-hist-1 {
    width: 320px;
  }
  .team-name-details {
    margin-left: 30%;
  }
  .teams-banner .banner-logo {
    position: absolute;
    left: 25px;
    bottom: 100px;
    width: 80px;
    height: 80px;
  }
}
.chart-hist {
  color: #ea9528;
  /* top: 85px; */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #ea9528;
  z-index: 10;
  right: 16px;
  background: #191c1c;
  width: 162px;
  text-align: end;
}
.tocken-bar-head h6 {
  color: #ea9528;
}
.teams-drop-down {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copied-display {
  margin-top: -15px;
}

.teams-transaction::-webkit-scrollbar {
  width: 0px !important;
}

.single-team-score p:nth-child(6) {
  width: 26%;
  text-align: end;
}

.single-team-titles h3:nth-child(6){
  width: 26%;
  text-align: center;
}

.points-teams-heading{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.points-teams-heading-section{
  display: flex;
  justify-content: space-around;
}
.index-change{
  position:absolute;
  left:-7px;
}