.trade-section-main {
  background-color: #1f1c2d;
  display: flex;
  flex-direction: column;
}

.live-score-section {
  /* border:4px solid red; */
  height: 112px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #232234;
  margin: 20px 0px;
  /* padding: 0px 30px; */
  padding: 15px;
}

.live-score-section {
  display: flex;
}

.live-update {
  /* width: 295px; */
  width: auto;
  padding: 1rem;
  height: 114px;
  display: flex;

  background: #ea9528;
  box-shadow: 3.56px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 90px;
  position: relative;
}

.live-location-img {
  display: flex;
  gap: 20px;
  align-items: center;
}

.live-location-img h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 100%;

  /* identical to box height */

  color: #c5c5c5;
}

.live-overs-line {
  /* border-left: 1.78px solid #212031; */
  padding-left: 1rem;
  margin-left: 1rem;
}

.batsmen-name {
  display: flex;
  gap: 40px;
}

.live-location-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 125%;

  /* or 15% */

  color: #9492a0;
}

.batters-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  color: #9492a0;
}

.batsmen-name h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;

  color: #f7a721;
}

.live-score h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;

  color: #232234;
}

.live-score h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;

  color: #232234;
}

.live-overs h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  opacity: 0.4;
}

.live-overs h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;

  color: #232234;
}

.this-over-balls {
  display: flex;
  gap: 8px;
}

.this-over-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14.7804px;
  line-height: 100%;

  color: #9492a0;
}

.this-over-bowler {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;

  color: #9492a0;
}

.this-over-balls h3 {
  width: 30px;
  height: 30px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 19.2145px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.this-over-balls h3:nth-child(1) {
  background: #1f1c2d;
  border-radius: 2.95607px;
  color: #ffffff;
}

.this-over-balls h3:nth-child(2) {
  background: #ffbc67;
  border-radius: 2.95607px;
  color: black;
}

.this-over-balls h3:nth-child(3) {
  background: #ec555d;
  border-radius: 2.95607px;
  color: #ffffff;
}

.this-over-balls h3:nth-child(4) {
  background: #1f1c2d;
  border-radius: 2.95607px;
  color: #ffffff;
}

.this-over-balls h3:nth-child(5) {
  background: #1f1c2d;
  border-radius: 2.95607px;
  color: #ffffff;
}
.this-over-balls h3:nth-child(6) {
  background: #1f1c2d;
  border-radius: 2.95607px;
  color: #ffffff;
}

.this-over-bowler h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;

  /* or 136% */

  color: #9492a0;
}

.this-over-bowler h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;

  /* identical to box height, or 117% */
  text-align: right;

  color: #ea9528;
}

.teams-name h3 {
  /* width: 76.56px; */
  height: 33px;

  border: 1.98px solid #ea9528;
  border-radius: 6.6px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13.2px;
  line-height: 100%;

  /* identical to box height, or 80% */

  color: #ea9528;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
}

/* --------------------------------------------------------------------------------------------------team section 3 */

.trade-team-main-section {
  overflow: auto;
  display: flex;
  padding: 10px 0px 40px 0px;
  justify-content: flex-start;
}
.trade-team-main-section::-webkit-scrollbar {
  width: 4px;
}

.trade-team-parent {
  min-width: 244px;
  height: 67px;

  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: #232234;
  border-radius: 5.06899px;
}

.trade-team-child2 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15.5224px;
  line-height: 100%;

  color: #ffffff;
}

.trade-team-child2 h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10.138px;
  line-height: 100%;

  color: #7c858e;
}

.trade-team-child3 h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 15.5224px;
  line-height: 100%;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
}

.trade-team-child3 h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 11.9403px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;

  /* Red */
  color: #d90429;
}

/* --------------------------------------------------------------------------------buy sell section  */

.buy-sell h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 8px;
  text-transform: uppercase;
  color: #9492a0;
  width: 50%;
  display: flex;
  justify-content: center;
}

.buy-sell h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 8px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 0px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.buy-sell-section {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  margin: 10px;
  position: relative;
}

.buy-sell {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  height: 40px;
}

.tokens-teamname {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  height: 40px;
}

.tokens-teamname h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* identical to box height, or 57% */

  color: rgba(148, 146, 160, 0.35);
  background-color: transparent;

  border-left: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  width: 340px;
}

.tokens-teamname h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  /* line-height: 8px; */
  /* identical to box height, or 36% */

  color: #9f9f9f;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
}

.buy-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 18px;
  /* identical to box height, or 86% */

  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #0bbb70; */

  border-radius: 0px 0px 5px 5px;
}

.buy-heading-active {
  /* border-bottom: 2px solid #0bbb70; */
  /* padding-bottom: 30px; */
  color: #0bbb70 !important;
  position: relative;
}
.buy-heading-active::after {
  content: "";
  border-bottom: 2px solid #0bbb70;
  width: 100%;
  /* position: absolute; */
}

.sell-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 18px;
  /* identical to box height, or 86% */

  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #ec3e47; */
  border-radius: 0px 0px 5px 5px;
}
.sell-heading-active {
  /* border-bottom: 2px solid #ec3e47; */
  position: relative;
  padding-bottom: 30px;
  color: #ec3e47 !important;
}
.buy-sell-container {
  background: #232234;
  border-radius: 7px;

  border: 4px solid #1f1c2d;
}

.tokens-teamname h1 input {
  background: none;
  border: none;
  outline: none;
  color: white;
  text-align: center;
}

.buy-heading-active::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #0bbb70;
  width: 100%;
  height: 3px;
  bottom: -20px;
  /* left: -86px; */
}

.sell-heading-active::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ec3e47;
  width: 100%;
  height: 3px;
  bottom: -21px;
  /* left: -84px; */
}

/*----------------------------------------------------------------------Live table data section  */

.liveplayers-data {
  /* position: fixed; */
  z-index: 30;
  width: 35%;
  height: 534px;
  background: #232234;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  /* margin:auto; */
  overflow: auto;
  color: #cbcbcb;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  top: 248px;
}
.batsmen-main-div .batsmen-table-li-active {
  color: white;
}

.liveplayers-table::-webkit-scrollbar {
  width: 0px;
}

.liveplayers-table::-webkit-scrollbar {
  width: 5px;
  /* background-color: red; */
}
.liveplayers-table::-webkit-scrollbar-thumb {
  background-color: #413f54;
}
.liveplayers-table {
  padding: 25px;
  height: 350px;
  overflow: auto;
}

.batsmen-main-div {
  display: flex;
  border-bottom: 2px solid #37354b;
  justify-content: space-between;
  padding: 10px 0px;
}

.batsmen-border {
  border-bottom: none;
  margin-bottom: -12px;
  position: sticky;
  top: -30px;
  background-color: #232234;
}
.batsmen-main-div h1,
.batsmen-table-head p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.422099px;
  color: #989898;
}
.batsmen-table-li {
  display: flex;
  align-items: center;
}

.batsmen-table-li p {
  width: 44px;
  height: 25px;
  display: flex;
  justify-content: center;
}
.badding-team-nm {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #37354b;
  /* padding: 0px 40px 0px 40px; */
  color: #ea9528;
  align-items: flex-end;
  margin: 0px 20px 0px 14px;
}
.badding-team-nm h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.422099px;
  color: #ea9528;
  margin-left: 23px;
}

.batsmens-scrore-data h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.batsmens-scrore-data h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.422099px;

  color: #dbdbdb;
}

.filding-team-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 102% */

  letter-spacing: -0.422099px;

  color: #dadada;
}

.filding-team-score {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  /* identical to box height, or 92% */

  letter-spacing: -0.422099px;

  color: #dadada;
  width: 109px;
  margin-right: -10px;
}

/*-------------------------------------------------------------------------Live table data end  */

.batting-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-holdings {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.candle-live-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.batting-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 30px;
}
.batting-text h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #ffffff;
}
.batting-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  /* line-height: 9px; */
  /* identical to box height, or 72% */

  color: #9492a0;
}
.batting-text h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #0f935c;
}
.batting-text h5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  /* line-height: 8px; */
  color: #ea9528;
}
.live-drop {
  /* transform: rotate(180deg); */
  position: absolute;
  left: 43%;
  bottom: -6px;
  color: black;
  cursor: pointer;
}

.currentprice-arr {
  position: relative;
  top: 4px;
  right: 2px;
}
.hsvc-heading {
  font-size: 15px;
  margin-left: 6px;
  margin-top: 5px;
}

.batsmen-table-head p {
  margin: 0px;
}

.royal-border {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.not-inlive-section {
  position: fixed;
  width: 99.4vw;
  height: 90vh;
  background-color: rgb(38 35 35 / 90%);
  color: white;
  z-index: 50;
}

.not-inlive-section h1 {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.live-scoreboard-holdings {
  display: flex;
  gap: 14px;
  padding: 14px;
}
.trade-tokens-main {
  width: 65%;
  padding: 10px 20px 10px 40px;
  background-color: #232234;

  height: 534px;
  overflow: auto;
}
.trade-tokens-main::-webkit-scrollbar {
  width: 5px;
}
.trade-tokens-main::-webkit-scrollbar-thumb {
  background-color: #393848;
}
.trade-tokens {
  height: 74px;
}

.trade-tokens {
  border-bottom: 1px solid #393848;
}

.live-team-kay {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.312463px;

  color: #ffffff;
  margin: 0px;
}

.live-team-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: -0.312463px;

  color: #9492a0;
  margin: 0px;
}

.token-name-column {
  height: 74px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.live-token-headings th {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #9492a0;

  opacity: 0.5;
  width: 25%;
}

.live-total-value h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.312463px;

  opacity: 0.75;
}

.live-holding-percent h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.312463px;

  opacity: 0.75;
}

.live-current-price h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: -0.312463px;

  color: #ffffff;

  opacity: 0.5;
}

.score-card-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;

  opacity: 0.7;
  margin: 20px 0px 0px 40px;
}


.live-token-headings th:nth-child(1){
  width: 40%;
}