.wallet-main-con {
  display: flex;
  flex-direction: column;
}

.wallet-card {
  background: #232234;
  border-radius: 7px;
  padding: 15px 10px 15px 24px;
  line-height: 30px;
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
  width: 204px;
  /* height: 106px; */
}
.wallet-card-new {
  background: #232234;
  border-radius: 7px;
  padding: 10px 10px 10px 24px;
  line-height: 30px;
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
  height: 115px;
}
.wallet-card p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 26px;
  letter-spacing: -0.312463px;
  color: #cccccc;
}

.wallet-card h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.312463px;
  color: #0bbb70;
}
.wallet-card-2 {
  background: #232234;
  border-radius: 7px;
  padding: 16px 10px 16px 24px;
  line-height: 30px;
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wallet-card-2 p {
  font-size: 16px;
  color: #9492a0;
  font-family: "Poppins";
}
.wallet-card-2 h3 {
  font-family: "Lato";
  font-size: 22px;
  line-height: 19px;
  letter-spacing: -0.312463px;
  color: #cccccc;
  font-weight: 600;
}
.text-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  background: #232234;
  padding: 10px 34px 10px 15px;
  border-radius: 8px;
  height: 72px;
}
/* .transaction-main th:nth-child(1){
  border:4px solid red;
  width: 21%;
} */

.img-con {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* align-items: center; */
}
.img-con p {
  margin-left: 0.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #9492a0;
  opacity: 0.5;
  margin-top: 13px;
}
.wallet-card-new h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: -0.312463px;

  color: #cccccc;
}
.wallet-card-new .tot-wallet{
  font-size: 32px;
}
.img-con h3 {
  margin-right: 0.5rem;
}

.key-btn {
  color: #ea9528;
  background-color: transparent;
  width: 54px;
  height: 28px;
  border: 2px solid #ea9528;
  border-radius: 6px;
}
.buy-sell-main-con {
  display: flex;
  /* align-items: center; */
  flex-direction: column;

  /* background: #232234; */
  /* padding: 10px; */
  margin-left: 0.5rem;
  /* margin: auto; */
  width: 70%;
  justify-content: space-between;
}

.buy-sell-main-con .text-card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  /* color: rgba(93, 97, 102); */
  /* opacity: 0.4; */
  /* width: 80%; */
  margin-bottom: 0px;
  color: #9492a0;
  opacity: 0.5;
}

.buy-btn {
  color: rgba(11, 187, 112, 0.55);
  border: 2px solid rgba(11, 187, 112, 0.55);
  background: transparent;
  padding: 10px;
  margin: 10px;
  width: 120px;
  height: 51px;
}
.sell-btn {
  color: #ec3e47;
  border: 2px solid #ec3e47;
  background: transparent;
  padding: 10px;
  margin: 10px;
  width: 120px;
  height: 51px;
}
.btn-containers {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.wallet-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.wallet-info h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* color: #5d6166; */
  color: #9492a0;
}
.wallet-info p {
  /* font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; 
  display: flex; 
  color: rgba(255, 255, 255, 0.75) !important; */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  /* text-align: right; */
  color: rgba(255, 255, 255);
}
/* .wallet-info p span {
  margin-left: 10px;
} */
.wallet-child2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 356px;
  height: 299px; */
  background: #232234;
  border-radius: 7px;
  position: relative;
  /* padding: 24px 0px 4px 0px; */
}
.hr-line {
  transform: rotateY(0deg) rotate(-90deg);
  color: white;
  opacity: 0.35;
  width: 80%;
  left: 0;
  position: absolute;
  /* right: 50%; */
  /* left: 45%; */
  /* bottom: 10rem; */
  margin-left: 10px;
}
.trade-details {
  width: 220px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* position: relative; */
  /* border-left: 1px solid #ffffff; */
  opacity: 0.35;
  padding: 20px 0px 20px 20px;
}
.details-balance-con {
  display: flex;
  /* align-items: center; */
}
.history-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.his-img-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.his-img-con img {
  margin-top: -15px;
}

.type-img {
  border: 1px solid #f7a721;
  border-radius: 18px;
  padding: 5px;
}
.his-img-con p {
  margin-left: 0.5rem;
}
.transaction-main {
  background-color: #232234;
  border-radius: 10px;
  line-height: 30px;
  height: 490px;
  overflow: auto;
  padding: 20px;
  /* padding-right: 95px; */
}

/* .transaction-main::-webkit-scrollbar {
  width: 0px;
} */
.trans-type-con {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  padding-top: 20px;
}
.wallet-details-con {
  display: flex;
  flex-direction: column;
  /* margin-right: 2rem; */
}

.status-con {
  display: flex;
  align-items: center;
}
.history-titles h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* color: #FFFFFF; */
  /* opacity: 0.75; */
}

.his-img-con p {
  color: #f7a721;
  font-family: "Poppins";
  font-style: medium;
  font-size: 16px;
}
.transaction-main th {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #9492a0;
  opacity: 0.5;
}
@media (min-width: 900px) {
  .transaction-main th {
    /* margin-left: 5rem auto; */
    margin-left: 0px;
    padding-left: 0px !important;
    width: 16.5%;
  }
}
.trans-type-con p {
  color: #9492a0;
  font-family: "Poppins";
  font-style: "SeminBold";
  font-size: 14px;
  width: 210px;
}
.price-type {
  color: #ea9528;
  font-family: "Poppins";
}
.token-value {
  color: #0bbb70;
  font-family: "Poppins";
}
.trans-date {
  color: #9492a0;
  font-family: "Lato";

  font-size: 14px;
}
.trans-status {
  color: #0bbb70;
  font-family: "Poppins";
}
.trans-amount {
  color: #cccccc;
  font-family: "Lato";
}
.trans-type {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 2px;
  letter-spacing: -0.312463px;
  color: #ffffff;
}

.select-token {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.827px;
  line-height: 31px;
  /* identical to box height, or 171% */

  color: #ffffff;

  opacity: 0.75;
  margin-left: 11px;
  margin-top: -5px;
  cursor: pointer;
  width: 194px;
}

.completed-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.312463px;

  color: #0bbb70;
}

/* new added  */
.wallet {
  margin-top: 2%;
}

.amt-out-show {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;

  color: #c9c9cd;
}

.amt-out-show::placeholder {
  color: #c9c9cd;
}
.will-receive-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12.7336px;
  line-height: 17px;

  color: #ffffff;

  opacity: 0.75;
  margin: 20px 0px;
}

.onw-quial {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #ea9528;
  margin: 0px;
  margin-left: 22px;
  margin-top: 4px;
  opacity: 0.5;
}

/* new added 10-05-23 */
/* 
@media screen and (min-width: 991px) and (max-width: 1340px) {
  .wallet-card {
    width: 200px;
  }
} */
@media screen and (min-width: 991px) and (max-width: 1025px) {
  /* .wallet-card {
    width: 150px;
    height: 106px;
  } */
  .img-con p {
    font-size: 12px !important;
  }
  .wallet-card-new p {
    font-size: 20px;
  }
  /* .wallet-card p {
    font-size: 20px;
  } */
}
@media screen and (min-width: 1030px) and (max-width: 1090px) {
  /* .wallet-card {
    width: 170px;
    height: 106px;
  } */
  .img-con p {
    font-size: 12px !important;
  }
  /* .wallet-card p {
    font-size: 20px;
  } */
}

/* new added 11-05-23 */
/* @media screen and (min-width: 991px) and (max-width: 1340px) {
  .t-wallet {
    width: 100%;
  }
} */

@media screen and (min-width: 991px) and (max-width: 1090px) {
  .buy-sell-main-con {
    width: 70%;
  }
  .select-token {
    font-size: 13px;
  }
  /* .wallet-info p {
    font-size: 12px;
  } */
  .onw-quial {
    margin-top: 2%;
    margin-left: 10px;
  }
  .wallet-card h3 {
    margin-top: -5%;
  }
}

.quick-trade-amt .amount {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;

  opacity: 0.75;
  padding-right: 45px;
}
.copied-display {
  position: absolute;
  top: -5px;
  left: -14px;
  width: 158px;
  font-size: 12px !important;
  font-family: "Poppins" !important;
  color: #0bbb70 !important;
}
.total-wallet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.quick-new-trade {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.wallet-buy {
  margin-top: 20px;
  max-width: 70%;
}

.wallet-center-border {
  /* border-left: 1px solid rgba(255, 255, 255, 0.838); */
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%,-50%); */
  /* height: 70%; */
  border-left: 1px solid #73737e;
  width: 0px;
  height: 234px;
  margin-right: 10px;
}

/* @media(max-width:1440px){
  .trade-details {
    border-left:1px solid white;
  }
  .wallet-center-border{
    display: none;
  }
} */

.wallet-input-field{
  width: 34% !important;
}
@media(max-width:1210px){
  .wallet-card-2 h3{
    font-size: 16px;
  }
}

@media(max-width:1023px){
  .details-balance-con{
    display: block;
  }
  .buy-sell-main-con{
    width: 100%;
    margin:0px;
  }
  .holding-section{
    width: 100% !important;
  }

  .wallet-card-2 h3{
    font-size: 22px;
  }

  .wallet-card-2{
    margin-bottom:10px;
  }
  
}
